/* Color scheme
Main color: #495057
Accent color: #4dabf7

Font weights: 400, 500, 700
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #000;
  color: #f1f3f5;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 500;
  line-height: 1.05;
  margin-bottom: 4.8rem;
  /* margin-top: 2.4rem; */
  color: #3bc9db;
}

.heading-secondary {
  font-size: 3rem;
  font-family: "Rock Salt", sans-serif;
  line-height: 1.2;
  margin-bottom: 4rem;
  margin-top: 10rem;
  justify-content: center;
}

.heading-tertiary {
  font-size: 2.6rem;
  color: #f1f3f5;
  line-height: 1.2;
  margin-top: 3.2rem;
  margin-bottom: 1.8rem;
}

/* NAV SECITON */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  height: auto;
  padding: 3rem 4.8rem;
}

.header-img {
  height: 150px;
  width: auto;
  padding: 2rem;
}

.web-name {
  color: #f1f3f5;
  font-family: "Rock Salt", sans-serif;
  font-size: 4rem;
}

nav {
  font-size: 2rem;
}

.search {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.search:hover > .search-bar {
  padding-right: 0 15px;
  caret-color: #3bc9db;
  transition: width 0.4s linear;
}

.search-bar {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 400px;
  caret-color: transparent;
  line-height: 30px;
  transition: width 0.4s linear;
  padding: 0 10px;
}

.search_icon {
  height: 24px;
  width: 24px;
  float: right;
  display: flex;
  align-self: center;
  color: white;
  text-decoration: none;
  padding-right: 0.25rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.458);
  font-style: italic;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  font-family: "Noto Sans";
  color: #f1f3f5;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #3bc9db;
}
.container {
  /* 1140px */
  max-width: auto;
  /* padding: 3.2rem; */
  margin: 0 auto;
  /* background-color: red; */
  padding-bottom: 10rem;
}

#film-box {
  width: 100vw;
  padding: 5rem 3.2rem;
  margin: 0 auto;
  margin-top: 4.8rem;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
  align-items: center;

  /* background-color: red; */
}

.heading-secondary:first-child {
  margin-top: 2rem;
}

.img {
  width: 60%;
  margin-bottom: 2.4rem;
  border-radius: 10px;
  cursor: pointer;
  /* transition: all 0.3s; */
}

/* .img:hover {
  filter: drop-shadow(0 0 1em rgba(103, 167, 202, 0.469));
} */

.description {
  display: block;
  font-size: 1.2rem;
  color: #f1f3f5;
  line-height: 1.6;
}

.release-date {
  font-size: 1.8rem;
  font-weight: 500;
  color: #3bc9db;
  line-height: 1.6;
}

.description-text {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #f1f3f5;
}

.rating-text {
  font-size: 2.6rem;
  margin-top: 1.6rem;
}

.watched-btn {
  display: block;
  cursor: pointer;
  border: 0;
  width: 150px;
  color: black;
  background: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  margin-top: 2.4rem;
  transition: all 0.3s;
}

.watched-btn:hover {
  background-color: #3bc9db;
  color: #fff;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#comment {
  /* width: 50%; */
  font-size: 1.8rem;
  width: 90%;
  height: 40px;
  background-color: #f1f3f5;
  border: 1px solid grey;
  padding: 0 1.6rem;
  border-radius: 5px;
}

.comment-text {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.comment-btn {
  cursor: pointer;
  font-family: "Noto Sans";
  font-weight: 500;
  border: 0;
  width: 150px;
  color: black;
  background: white;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s;
}

.comment-btn:hover {
  background-color: #3bc9db;
  color: #fff;
}

.hidden {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
