/* Color scheme
Main color: #495057
Accent color: #4dabf7

Font weights: 400, 500, 700
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #495057;
  color: #f1f3f5;
}

.heading-primary {
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 1.6rem;
  color: #4dabf7;
}

/* NAV SECITON */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33383d;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.web-name {
  color: #f1f3f5;
  font-weight: 500;
  font-size: 3.8rem;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
}

.img {
  height: 30%;
  width: 30%;
}

.description {
  font-size: 1.2rem;
}

.release-date {
  font-size: 1.2rem;
}
